/* Style for Contact Form */
p{
    font-family:Inter, sans-serif

}

.container {
    display:flex;
    flex-direction: column;
    width:50vw;
   background-color: white;
   padding:2rem;
   border-radius: 10px;

  }

.container:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);

}
  label{
    padding-bottom:1rem;
  }
  .container form{
    display: flex;
    gap:2rem;
    flex-direction: column;
  }
  .form-group label {
    font-weight: bold;
  }
  .invalid-feedback {
    color: red;
    font-style: italic;
  }
  textarea.form-control {
    resize: none;
  }
  button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  button.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  button.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  .body{
    width:100vw;
    height:100vh;
    background-color: #F1F0FE;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    background-color: #F1F0FE !important;
    border:none;
    color:black;
    cursor: pointer;
}
button:hover{
    color:white;
    box-shadow: inset 3000px 0px black;
    transition: all 0.15s ease-in-out;

}