<app-navbar></app-navbar>
<section class="section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center mb-4 pb-2">
            <h4 class="title">Applied Jobs</h4>
            <p class="text-muted mb-1">
              See your list of jobs here that you have applied all the best for your future
            </p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
      <!--end row-->
      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="recent-jobs"
              role="tabpanel"
              aria-labelledby="recent-jobs-tab"
            >
              <div class="job-box card mt-4" *ngFor="let appliedJobData of appliedJobDatas">
                <div class="bookmark-label text-center">
                  <a
                    
                    class="text-white align-middle"
                    ><i class="mdi mdi-star"></i
                  ></a>
                </div>
                <div class="p-4">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <div class="text-center mb-4 mb-md-0">
                        <a href="company-details.html"
                          ><img
                            src="https://main.dll6omdmjfwlk.amplifyapp.com/assets/images/featured-job/img-01.png"
                            alt=""
                            class="img-fluid rounded-3"
                        /></a>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="mb-2 mb-md-0">
                        <h5 class="fs-18 mb-1">
                          <a href="job-details.html" class="text-dark"
                            >{{appliedJobData.name}}</a
                          >
                        </h5>
                        <p class="text-muted fs-14 mb-0">
                            {{appliedJobData.jobTitle}}
                        </p>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i
                            class="mdi mdi-map-marker text-primary me-1"
                          ></i>
                        </div>
                        <p class="text-muted mb-0">
                          {{appliedJobData.jobType}}
                        </p>
                      </div>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <i
                            class="mdi mdi-map-marker text-primary me-1"
                          ></i>
                        </div>
                        <p class="text-muted mb-0">
                          {{appliedJobData.location}}
                        </p>
                      </div>
                    </div>
                    <!--end col-->
                    <!--end col-->
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <div class="p-3 bg-light">
                  <div class="row">
                    <!--end col-->
                    <!--end col-->
                    <div class="col-lg-2 col-md-3">
                      <div class="text-start text-md-end">
                        <button class="btn btn-primary" type="submit" routerLink="/viewprofile">View Profile</button>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
              <!--end job-box-->
              <!--end job-box-->
            </div>
            <!--end recent-jobs-tab-->
            <!--end full-time-tab-->
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
